<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.EventMapper">
	
	<select id="eventList" parameterType="com.yedam.vo.EventVO" resultType="event">
		select title, start_date AS "start" , end_date AS "end"
		from tbl_event
	</select>
	
	<insert id="insertEvent" parameterType="map">
		insert into tbl_event (title, start_date, end_date)
		values (#{title}, #{start}, #{end})
	</insert>
	
	<delete id="deleteEvent" parameterType="String">
		delete from tbl_event
		where title = #{title} 
	</delete>
	
</mapper>